<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="container">
				
				<form  class="register-form" action="/login" method="get">
					<label for="">Email</label>
					<input type="email" name="email" placeholder="alevivone@udesa.com">
					<label for="Contraseña:">Contraseña:</label>
					<input type="password" name="password" placeholder="xxxxx">
				</form>
			
		</div>
</div>
</div>

   <!-- footer -->
   <%- include('partials/footer') %>
   <!-- /footer -->
</body>

</html>