<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row ">
			<div class="col-2">
				<h2 class="products-title">Ingresar</h2>
			</div>
			<% if(locals.errors){ %>
				<h2 style="color:red">
					<%= locals.errors.message %>
				</h2>
				<% } %>
		</div>
	</div>
	<div class="container">
		<div class="row justify-content-md-center">
			<form class="register-form col-6" action="/login" method="POST">
				<label for="">Email:</label>
				<input type="email" name="email" placeholder="">
				<label for="Contraseña:">Contraseña:</label>
				<input type="password" name="password" placeholder="">
				<label for="rememberme:">Recuerdame</label>
				<input type="checkbox" name="rememberme" value="ok" placeholder="">
				<button type="submit" class="btn-outline-dark">Enviar</button>
			</form>
		</div>
	</div>


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>