

      <footer class="main-footer">

       <div class="container-logo">
        <div class="logo-social-media">
          <a href="https://instagram.com/theunionwinery?igshid=rcs5qt49u81q"><i class="fab fa-instagram"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-facebook-f"></i></a>
        </div>
      </div>

          <div class='footer-data'>
            <p>Copyright The Union Winery 2021. Todos los derechos reservados ©</p>
            <p>Kienigiel, Vinyolas, Scelzi & Co</p>
          </div>
      </footer>

      


    
 